{% extends "base.html" %}


{% block content %}
<div class="container" align="center">

	<h3>Create Project</h3>
	<form action="/create_project/" method="post">{% csrf_token %}
	{{ form.as_p }}
	<input type="hidden" name="type" value="{{type}}">
	<input type="hidden" name="lines" value="{{lines}}">
	{% for i in lines_iter %}
		Line {{i}}: Style:<input type="text" name="Style{{i}}"/>
		Garment Color:<input type="text" name="Garment{{i}}"/>
		Placement:<input type="text" name="Placement{{i}}"/>
		Design Color:<input type="text" name="Design{{i}}"/><br>
	{% endfor %}
	<br>
	<input type="submit" value="Submit" />
	</form>
</div> <!-- outer container -->

{% endblock %}