{% extends "base.html" %}
{% block content %}
<div class="container" align="center">
	<h1>Manager Control Panel</h1>
	<br>
	{% for project in projects %}
	<div class="container" style="background-color: white; border: 2px solid black; border-radius: 10px; width: 550px; height: 100px; position: relative:">
		<br>
		<p>{{project.customer_name}} from {{project.agent}} on {{project.submission_date}}</p>
		<form action="/view_project/" method="GET">
			<input type="hidden" name="project" value="{{project.id}}">
			<input type="submit" value="View">
		</form>
	</div>
	<br>
	{% endfor %}


<div class="container" style="background-color: white; border: 2px solid black; border-radius: 10px; width: 550px; height: 75px; position: relative:">
	<br>
	<form action="/allocated_projects/" method="GET">
		<input type="submit" value="View Allocated Projects">
	</form>
</div>



</div> <!-- outer container -->
{% endblock %}